.chat-main-section {
  flex: 1;
  overflow-y: scroll;
}

.messages-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.users-section {
  display: none;
  padding: 1em;
}

.users-section div {
  padding: 0.5em;
}

.status {
  padding: 1em;
  background: #303030;
  display: none;
}

.messages {

}

.message {
  padding: 0.5em;
  overflow-wrap: break-word;
  overflow-y: hidden;
  clip: rect(0em,auto,auto,0em);
  line-height: 100%;
  background: #101010;
}

.message:hover {
  background: #202020 !important;
}

/*.message:nth-child(even) {
  background: #101010;
}

.message:nth-child(odd) {
  background: #202020;
}*/

.donateMsg {
  background: #505020 !important;
}

.donateMsg:hover {
  background: #606020 !important;
}

.toolbar {
  width: 100%;
  box-sizing: border-box;
}

.toolbarTray {
  margin: 0.25em;
/*  padding: 0.5em;*/
}

.entry {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.author {
  font-weight: bold;
  cursor: pointer;
}

.author:hover {
  background: #505050;
}

.button-bar {
  display: flex;
}

.button-bar .button {
  margin-right: 0.25em;
}

.button-bar .button:last-of-type {
  margin-right: 0;
}

.emote {
  max-height: 2em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  vertical-align: middle;
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background: #303030;
  border: 2px #202020 solid;
  user-select: none;
}

#emoteKeyboard {
  /* Emote buttons are 3em x 3em, this comes out to 5 cols and 7 rows */
  width: calc(15em + 10px);
  height: 24em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.emoteKeyboardButton {
  padding: 1em 0.5em;
  text-align: center;
  min-width: 2em;
  max-width: 2em;
  display: inline-block;
}

.emoteKeyboardButton:hover {
  background: #404040;
}

#chatEntry, #banNotice, #loginButtons {
  display: none;
}

#loginButtons {
  text-align: center;
}

#shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.panel {
  background: #202020;
  display: none;
  max-width: 100%;
  border-radius: 0.5em;
  margin: auto;
}

#configPanel {
  padding: 0 0 0.5em 0.5em;
}

#configPanelTable {
  border-collapse: collapse;
}

#donatePanel {
  padding: 1em;
  width: 420px;
}

#configPanelTable td {
  white-space: nowrap;
  padding: 0.5em 0.5em 0 0;
}

.error {
  font-size: 8pt;
  color: red;
  text-align: center;
}

#userConfError {
  white-space: normal !important;
  display: none;
  margin: 0;
}

#donateError {
  display: none;
}

.iconImage {
  height: 1em;
  vertical-align: top;
}

.mention {
  background: #400000 !important;
}

.mentionListEntry {
  padding: 0.5em;
}

.mentionListEntrySelected {
  background: #484848;
}

.donateField {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  resize: vertical;
}

.badge {
  height: 1.3em;
  margin-top: -0.2em;
  margin-bottom: -0.1em;
  margin-right: 4px;
  vertical-align: middle;
}

.msgBtns {
/*  float: right;*/
  position: absolute;
  display: none;
  right: 10px;
  margin: -0.5em !important;
  padding: 0 !important;
  z-index: 50;
}

.msgBtn {
  background: #484848 !important;
  width: 1em;
  height: 1em;
  padding: 0.5em !important;
  margin: 0 0.25em !important;
  vertical-align: middle;
}

.msgBtn:hover {
  background: #585858 !important;
}

.msgBtn:active {
  background: #282828 !important;
}

.msgBtn img {
  height: 100%;
}

.donateForm {
  width: 100%;
}

.rules {
  display: none;
  position: absolute;
  background: #202020;
  border: 2px #404040 solid;
  padding: 0.5em;
}

.rules ul {
  padding-left: 1.5em;
}

.rules li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#notifRow {
  display: none;
}

.emoteZoom {
  position: absolute;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, 0.66);
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

#emoteZoomImg {
  max-width: 112px;
  max-height: 112px;
}

#replyPanel {
  display: none;
  padding: 1em;
  background: #202020;
}

.reply {
  font-size: 8pt;
  margin-bottom: 0.5em;
  padding: 0;
  box-sizing: border-box;
}

.reply img {
  max-width: 1em;
  max-height: 1em;
  vertical-align: middle;
}

#scrollNotice {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  left: 50%;
  transform: translate(-50%);
  padding: 0.66em 1em;
  cursor: pointer;
  border: 1px white solid;
  border-radius: 0.5em;
  margin-bottom: 1em;
  display: none;
}

#scrollNotice:hover {
  background: rgba(32, 32, 32, 0.9);
}
